#folgende Dateityben werden global nicht mit versioniert
*.aux
*.brf
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.figlist
*.makefile
*.synctex
*.synctex(busy)
LaTeX_recipes.pdf